@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-japanese: var(--font-yuji-syuku);
  --font-english: var(--font-outfit);
}
